/*El inv significa invitación, esos son textos que se encuentran dentro de las imagenes de invitación
El inputEI son los inputs de Escribe tu Invitación*/

.inv_EI1 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 5%;
    left: 24%;
    transform: translateX(-65%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}

.inputEI1 input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 12px;
    width: 300px;
    font-size: 16px;
    position: absolute;
    top: 7%;
    left: 29%;
}

.inv_EI2 {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38px;
    color: white;
    line-height: 36px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}


.inputEI2 input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 12px;
    width: 300px;
    font-size: 16px;
    position: absolute;
    top: 38%;
    left: 30%;
}
.inv_EI3 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}
.inputEI3 input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 12px;
    width: 400px;
    font-size: 16px;
    position: absolute;
    top: 39%;
    left: 15%;
}
.inv_EI9 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}

.inputEI4 input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 12px;
    width: 400px;
    font-size: 16px;
    position: absolute;
    top: 55%;
    left: 15%;
}
.inputEI5 input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 12px;
    width: 400px;
    font-size: 16px;
    position: absolute;
    top: 70%;
    left: 15%;
}

.inputEI6 input{
    border: 2px solid black;
    border-radius: 30px;
    padding: 8px 12px;
    width: 300px;
    font-size: 16px;
    position: absolute;
    top: 91%;
    left: 29%;
}

.inv_EI8 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}
.inv_EI4 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}
.inv_EI5 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 89%;
    left: 24%;
    transform: translateX(-65%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}
.inv_t6 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 31px;
    color: #fefa9c;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}

.inv_EI8 {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}
