.textPreguntas {
    text-align: center;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}

.buttonSioNo {
    border-radius: 50+px;
    border: 2px solid black;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: black;
}